<form id="form-add-blog" method="POST" action="" enctype="multipart/form-data">
	<div class="form-group">
		<label>Header</label>
		<input id="input-header" type="text" name="header" required="true">
	</div>
	<div class="form-group">
		<label>Sub Header</label>
		<input id="input-sub-header" type="text" name="sub_header" required="true">
	</div>
	<div class="form-group">
		<label>Content</label>
		<input id="input-content" type="text" name="content" required="true">
	</div>
	<div class="form-group">
		<label>Image</label>
		<input id="input-image" type="file" name="image" accept="image/png, image/jpeg">
	</div>
	<div class="form-group">
		<label>Image Header</label>
		<input id="input-image-header" type="text" name="image_header">
	</div>
	<button type="submit">Submit</button>
</form>
